@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --dark-grey: #1a1a1aff;
  --lime-green: #aad400ff; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
